POSTGRES_DB=hse_ai
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432

RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

OPENSEARCH_PORT=9200
OPENSEARCH_DASHBOARDS_PORT=5601
OPENSEARCH_JAVA_OPTS=-Xms512m -Xmx512m

OLLAMA_PORT=11434
OLLAMA_MODEL=qwen2:7b

BACKEND_PORT=3001
FRONTEND_PORT=3000
NEXT_PUBLIC_API_BASE_URL=http://localhost:3001
AI_FALLBACK_ENABLED=true
